<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>F20DE1C3-165A-4928-A0AB-16647E042304</string>
	<key>MSAppCenterNetworkRequestsAllowed</key>
	<false/>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBULDBIYHCJQUVJTVFVWV1hZ
	WltcYWZVJG51bGzSDQ4PEVpOUy5vYmplY3RzViRjbGFzc6EQgAKAFNMTFA4VFhdcdGlt
	ZXN0YW1wS2V5WWRldmljZUtleYADgAWAE9IZDhobV05TLnRpbWUjQce0QkNhsO6ABNId
	Hh8gWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN03xAXIyQlJg4n
	KCkqKywtLi8wMTIzNDU2Nzg5Ojs8PTs8PEFCPDw8PEdISUo8PE1OT1lvc1ZlcnNpb25e
	dGltZVpvbmVPZmZzZXRYYXBwQnVpbGRfEBVsaXZlVXBkYXRlUGFja2FnZUhhc2haYXBw
	VmVyc2lvbl8QEXdyYXBwZXJTZGtWZXJzaW9uW2NhcnJpZXJOYW1lV3Nka05hbWVWbG9j
	YWxlXxAXbGl2ZVVwZGF0ZURlcGxveW1lbnRLZXleY2FycmllckNvdW50cnlab3NBcGlM
	ZXZlbF53cmFwcGVyU2RrTmFtZVdvZW1OYW1lWnNka1ZlcnNpb25cYXBwTmFtZXNwYWNl
	VW1vZGVsXxAVd3JhcHBlclJ1bnRpbWVWZXJzaW9uXxAWbGl2ZVVwZGF0ZVJlbGVhc2VM
	YWJlbFpzY3JlZW5TaXplVm9zTmFtZVdvc0J1aWxkgAuADoAQgACAEoAQgACAAIAGgA2A
	AIAAgACAAIAJgAeAEYAIgACAAIAPgAqADF8QD2FwcGNlbnRlci5tYWNvc1U0LjMuMF5N
	YWNCb29rQWlyMTAsMVVBcHBsZVVtYWNPU1YyNi4yLjBVMjVDNTZVZW5fVVMT////////
	/lxYMTI4MHg4MDBWMTAuNy4wXxAYY29tLmx3b3Vpcy5hbHQtdGFiLW1hY29z0h0eXV5a
	TVNBQ0RldmljZaNfYCFaTVNBQ0RldmljZV5NU0FDV3JhcHBlclNka9IdHmJjXxAVTVNB
	Q0RldmljZUhpc3RvcnlJbmZvo2RlIV8QFU1TQUNEZXZpY2VIaXN0b3J5SW5mb18QD01T
	QUNIaXN0b3J5SW5mb9IdHmdoXk5TTXV0YWJsZUFycmF5o2dpIVdOU0FycmF5AAgAEQAa
	ACQAKQAyADcASQBMAFEAUwBrAHEAdgCBAIgAigCMAI4AlQCiAKwArgCwALIAtwC/AMgA
	ygDPANoA4wDqAO0A9gEnATEBQAFJAWEBbAGAAYwBlAGbAbUBxAHPAd4B5gHxAf4CBAIc
	AjUCQAJHAk8CUQJTAlUCVwJZAlsCXQJfAmECYwJlAmcCaQJrAm0CbwJxAnMCdQJ3AnkC
	ewJ9Ao8ClQKkAqoCsAK3Ar0CwwLMAtUC3AL3AvwDBwMLAxYDJQMqA0IDRgNeA3ADdQOE
	A4gAAAAAAAACAQAAAAAAAABqAAAAAAAAAAAAAAAAAAADkA==
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx7RCQ2BjroAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx7RCQ2BvP4AE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{886, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9vayADAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAOgBAAAEAAAAAwMAAAAEAAAFAAAAAQEAAFVzZXJzAAAABQAAAAEB
	AABhc2hlcQAAABYAAAABAQAALmNvbmZpZy1tYW51YWwtZXhwb3J0cwAADAAAAAEGAAAQ
	AAAAIAAAADAAAAAIAAAABAMAAOtcAAAAAAAACAAAAAQDAACUxQMAAAAAAAgAAAAEAwAA
	DOM9AAAAAAAMAAAAAQYAAGQAAAB0AAAAhAAAAAgAAAAABAAAQcT7ifMA+P4YAAAAAQIA
	AAIAAAAAAAAAHwIAAAAAAAAfAgAAAAAAAAAAAAABBQAACAAAAAQDAAABAAAAAAAAAAQA
	AAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAAACHETkAAAAIAAAAAAQAAEHHaPt0AAAAJAAAAAEBAAA5QzJGOTZFQi05NEExLTQ2
	NDItOTUwMS03NTIwQjA4NzY4QUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAADvEwAAAQAA
	AAEAAAABAQAALwAAAEUAAAABAgAAZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAAAAAAABUA
	AAAAAAAAY29uZmlnLW1hbnVhbC1leHBvcnRzPz8/PwIAAAAAAAAAAAAA8AAAAP7///8B
	AAAAAAAAABMAAAAEEAAAUAAAAAAAAAAFEAAAlAAAAAAAAAAQEAAAuAAAAAAAAABAEAAA
	qAAAAAAAAAACIAAAjAEAAAAAAAAFIAAA/AAAAAAAAAAQIAAADAEAAAAAAAARIAAAQAEA
	AAAAAAASIAAAIAEAAAAAAAATIAAAMAEAAAAAAAAgIAAAbAEAAAAAAAAwIAAA2AAAAAAA
	AAABwAAA4AAAAAAAAAARwAAAIAAAAAAAAAASwAAA8AAAAAAAAAAB0AAA2AAAAAAAAAAQ
	0AAABAAAAAAAAAAX8AAAMAAAAAAAAAAi8AAAmAEAAAAAAAA=
	</data>
	<key>NSWindow Frame SettingsWindow</key>
	<string>95 157 918 534 0 0 1280 770 </string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-03-16T18:33:46Z</date>
	<key>appearanceSize</key>
	<string>3</string>
	<key>appearanceStyle</key>
	<string>2</string>
	<key>holdShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>preferencesVersion</key>
	<string>10.7.0</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>updatePolicy</key>
	<string>1</string>
</dict>
</plist>
