# vim:foldmethod=marker

# Ignore everything
*

# Un-ignore {{{

# This file
!/.gitignore

# Information
!/ansi-codes.md
!/README.md

# Standard config files at root-level
!/.agignore
!/.bash_logout
!/.bash_profile
!/.bashrc
!/.editorconfig
!/.inputrc

# Standard config files in .config directory
!/.config/

!/.config/git/
!/.config/git/**

!/.config/karabiner/
!/.config/karabiner/assets/
!/.config/karabiner/assets/**

!/.config/kitty/
!/.config/kitty/**

# Custom .thesaurus directory
!/.thesaurus/
!/.thesaurus/README.md

# Custom .bash directory
!/.bash/
!/.bash/**

# }}}

# Re-ignore {{{
.DS_Store
# }}}
