*
!.agignore
!ansi-codes.md
!.bash_logout
!.bash_profile
!.bashrc
!.bash
!.bash/**
!.config
!.config/git/
!.config/git/**
!.config/karabiner/
!.config/karabiner/assets/
!.config/karabiner/assets/**
!.config/kitty/
!.config/kitty/**
!.config/oni2/
!.config/oni2/**
!.editorconfig
!.gitignore
!.inputrc
!.shell
!.shell/**
!.thesaurus
!.thesaurus/README.md
!README.md
.DS_Store
