# Ignore everything
# ==============================================================================
*

# Un-ignore some files
# ==============================================================================

# This file
!/.gitignore

# Readme
!/README.md

# Standard config files/directories at root-level
!/.bash_profile
!/.bashrc
!/.bash_logout
!/.editorconfig
!/.inputrc
!/.profile
!/.xprofile
!/.hammerspoon/
!/.hammerspoon/**

# Standard config files/directories under .config/
!/.config/

!/.config/git/
!/.config/git/config

!/.config/karabiner/
!/.config/karabiner/assets/
!/.config/karabiner/assets/**

!/.config/kitty/
!/.config/kitty/kitty.conf
!/.config/kitty/kitty.theme.conf
!/.config/kitty/sample-kitty.conf
!/.config/kitty/os-specific-tweaks.conf
!/.config/kitty/themes/
!/.config/kitty/themes/**

!/.config/nvim/
!/.config/nvim/.projections.json
!/.config/nvim/TODO.md
!/.config/nvim/init.vim
!/.config/nvim/filetype.vim
!/.config/nvim/coc-settings.json
!/.config/nvim/syntax/
!/.config/nvim/syntax/**
!/.config/nvim/ftplugin/
!/.config/nvim/ftplugin/**
!/.config/nvim/after/
!/.config/nvim/after/**
!/.config/nvim/autoload/
!/.config/nvim/autoload/**
!/.config/nvim/colors/
!/.config/nvim/colors/**
!/.config/nvim/plugin/
!/.config/nvim/plugin/**
!/.config/nvim/vimrc.d/
!/.config/nvim/vimrc.d/**
# Re-ignore final.local.vim
.config/nvim/vimrc.d/final.local.vim

# Custom .bash directory
!/.bash/
!/.bash/**

# Custom .sh directory
!/.sh/
!/.sh/**
# Re-ignore login.private.sh
.sh/login.private.sh

# Custom directory for all other manually exported cofig
!/.config-manual-exports
!/.config-manual-exports/**

# Standard location for user binaries
!/bin/
!/bin/**

# SSH config
# CAREFUL! DO NOT ACCIDENTALLY PUSH PRIVATE SSH KEYS!
!/.ssh
!/.ssh/config

.DS_Store
