#  _                   _
# (_)_ __  _ __  _   _| |_ _ __ ___
# | | '_ \| '_ \| | | | __| '__/ __|
# | | | | | |_) | |_| | |_| | | (__
# |_|_| |_| .__/ \__,_|\__|_|  \___|
#         |_|
#
# Personal readline initialization file.

$include /etc/inputrc

# ------------------------------------------------------------------------------
# Set variables
# ------------------------------------------------------------------------------
set completion-ignore-case on
set completion-prefix-display-length 1
set completion-map-case on
set mark-symlinked-directories on
set show-all-if-ambiguous on
set menu-complete-display-prefix on

# ------------------------------------------------------------------------------
# Rebind keys
# ------------------------------------------------------------------------------
# Tab and Shift+Tab
"\t": menu-complete
"\e[Z": menu-complete-backward

# Up and Down
"\e[A": history-search-backward
"\e[B": history-search-forward
