#  _                   _
# (_)_ __  _ __  _   _| |_ _ __ ___
# | | '_ \| '_ \| | | | __| '__/ __|
# | | | | | |_) | |_| | |_| | | (__
# |_|_| |_| .__/ \__,_|\__|_|  \___|
#         |_|

$include /etc/inputrc

# Perform file completion in a case insensitive fashion.
set completion-ignore-case on

# Treat hyphens and underscores as equivalent.
set completion-map-case on

# Display matches for ambiguous patterns at first tab press.
set show-all-if-ambiguous on

# Immediately add a trailing slash when autocompleting symlinks to directories.
set mark-symlinked-directories on
