#!/bin/sh

# Configure Kensington Slimblade Trackball
#
# Default Layout:
# |-----------------------------------|
# |                  |                |
# | 2 (middle click) | 8 (back)       |
# |                  |                |
# |------------------O----------------|
# |                  |                |
# | 1 (left click)   | 3 (right)      |
# |                  |                |
# |-----------------------------------|
#
# Mappings:
# 1 -> 3
# 3 -> 2
# 2 -> 1

SLIMBLADE_ID=$(xinput list | grep "Kensington Kensington Slimblade Trackball" | head -n 1 | sed -r 's/.*id=([0-9]+).*/\1/')
xinput --set-button-map ${SLIMBLADE_ID} 3 1 2
xinput set-prop ${SLIMBLADE_ID} 314 1
